*{
    background-color: blanchedalmond;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color:navy;
}

.formItems input  {
    padding: 10px;
    font-size: 30px;
    border-radius: 25px;
}

.formItens button {
    padding: 10px;
    font-size: 30px;
    border-radius: 25px;
    background-color: rgb(255, 245, 194);
}