*{
    background-color: blanchedalmond;
    font-family: 'scribble', 'Times New Roman';
    src: url(https://drive.google.com/file/d/1D_JTyAgSwzSbU-F7VKw9NOUpXQZIwH6_/view?usp=sharing)
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 3.em;
    color: navy;
}

img {
    width: "200";
    justify-content: center;
    align-items: center;
}

.formItems {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formItems input  {
    padding: 10px;
    font-size: 30px;
    border-radius: 25px;
}

.formItems button {
    padding: 10px;
    font-size: 30px;
    border-radius: 25px;
    background-color: rgb(255, 245, 194);
}