*{
    background-color: blanchedalmond;
}

.content {
    font-family: 'Times New Roman', Times, serif;
    color:navy;
    justify-content: center;
    align-items: center;
}

.formItems input  {
    padding: 10px;
    font-size: 30px;
    border-radius: 25px;
}

.formItems button {
    padding: 10px;
    font-size: 30px;
    border-radius: 25px;
    background-color: rgb(255, 245, 194);
}